<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
  <link rel="stylesheet" href="style.css">
  <title>flickr | Feedr</title>
  <meta name="author" content="Jonathan Nock - 10103.co.uk">
  <meta name="description" content="flickr | Feedr: One page, one feed for Flickr">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/json2/20150503/json2.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.8.3/underscore-min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/backbone.js/1.2.3/backbone-min.js"></script>
  <!-- Template -->
  <script type="text/template" id="image-template">
      <div class="image-container" style="background: url(<%- url %>), url('ajax-loader.gif'); background-repeat: no-repeat; background-position: center">
        <div class="image-info"><span class="0">
          <p class="top"><a class="title" href="http://www.flickr.com/photos/<%- author_id %>/<%- id %>"><%- title %></a>
            <span class="author">by <a class="authref" href="http://flickr.com/photos/<%- author_id %>"><%- author %></a></span>
            <p>Tags:</p>
            <ul id="taglist">
              <% for(var tag in tags) { %>
                <li><%= tags[tag].raw %>,</li>
              <% } %>
            </ul>
          </p>
        </span>
        </div>
      </div>
  </script>
</head>

<body>
  <h1 align="center"><span id="magenta">&lt;</span><span id="white">Flickr </span><span id="magenta">|</span><span id="white"> Feedr</span><span id="magenta">&gt;<span></h1>
  <h3 align="center">by J.Nock</h3>

  <div id="flickrFeedApp">
    <div class="searchbox">
      <div class="form-group" align="center">
        <h3><input type="text" value="mountains" id="searchinput">
          <button class="btn btn-success" id="search">
            <span class="glyphicon glyphicon-search"></span> Search
          </button>
        </h3>
      </div>
    </div>
    <div id="image-container" class="container-fluid"></div>
  </div>

<script src="bb_code.js"></script>

  </body>
</html>
