body,
html {
    background: #111;
    font-size: 12px;
}

h1 {
    font-size: 68px;
}

#magenta {
    color: #ff0084;
}

#white {
    color: #fff;
}

#image-container {
    width: 100%;
    margin: 0 auto 0 auto;
}

.image-container {
    height: 160px;
    width: 240px;
    position: relative;
    float: left;
    margin: 20px 20px 20px 20px;
    background-color: #666;
    background-repeat: no-repeat;
    border: 5px solid #333;
    border-radius: 5px;
    overflow: hidden;
}

.image-info {
    display: none;
}

.image-info-active {
    height: 180px;
    width: 240px;
    background: rgba(255, 255, 255, .45);
}

a {
    cursor: pointer;
    text-decoration: none;
    color: #0063dc;
}

a:hover {
    color: #fff;
    background: #0063dc;
}

a.title {
    color: #ff0084;
}

a.title:hover {
    color: #fff;
    background: #ff0084;
}

p.top {
    background: #fff;
    width: 240px;
    padding: 0 0 5px 0;
    margin: 0;
}

a.title {
    font-size: 20px;
    font-weight: bold;
    display: block;
    line-height: 20px;
}

span.author {
    font-size: 10px;
}

.infoTitle {
    font-weight: bold;
}

.clearfix:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}
